@keyframes banner-animation {
    0% {
        opacity: 0;
        transform: translateX(-20px);

    }

    50% {
        opacity: 0.5;
        transform: translateX(-10px);

    }

    100% {
        opacity: 1;
        transform: translateX(0px);

    }
}



.banner {
    animation: banner-animation 0.7s forwards ease-in-out
}


@keyframes banner-img-animation {
    0% {
        opacity: 0.6;
        transform: translateX(-25px);

    }

    50% {
        opacity: 0.8;
        transform: translateX(-10px);

    }

    100% {
        opacity: 1;
        transform: translateX(0px);

    }
}

.banner img {
    animation: banner-img-animation 1.5s ease-in infinite
}